header { 
    font-family: sans-serif; 
    font-size: 20px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    line-height: 42px; 
    top: 0; 
    left: 0; 
    background-color: #424242; 
    color: white; 
  }
  body { 
    box-sizing: border-box; 
    min-width: 200px; 
    max-width: 980px; 
    margin: 56px auto 0 auto; 
    padding: 45px; 
  }
  @media (max-width: 767px) {
    header { font-size: 15px; }
    body { padding: 15px; }
  }
